.android {
  background-image: url("../../images/jar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
}
.android-description {
  color: #fff;
}
