.imageProfil {
  width: 85%;
}
.PInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  margin-top: 15px;
}
.profil {
  display: flex;
  align-items: center;
  min-width: 100%;
}
.allInfos {
  min-width: 100% !important;
  margin-bottom: -10px;
}
.profilContainer {
  display: flex;
  margin-top: 100px;
  margin-bottom: 25px;
}
.avisComp {
}
.avisCardP {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 96%;
}
.icon {
  width: 55px;
  text-align: center;
  color: #fb8c00;
}
.compétence {
  color: #212529;
}
